/* General app styles */
body {
    font-family: 'NationalRegular';
    text-align: center;
    color: black;
}

.hotorcold {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    min-height: 700px;
}

h1 {
    font-weight: normal;
    font-size: 45px;
    position: relative;
    padding: 20px 0;
}

.hot {
    color: rgb(134, 78, 78);
}

.cold {
    color: rgb(65, 65, 117);
}

.or {
    font-size: 30px;
    color: rgb(78, 78, 78);
}

.correct {
    color: rgb(68, 124, 99);
}


#container {
    width: 470px;
    margin: auto ;
    position: relative;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 5px;
    padding: 10px 0 25px 0;
}

.instructions {
    padding: 10px 18px;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
}

#reply h3 {
 font-family: inherit;
 font-size: 30px;
 padding: 10px 0;
 margin: auto;
}

#playerGuess {
   width: 145px;
   height: 35px;
   font-size: 25px;
   text-align: center;
   border-radius: 5px;
   opacity: 0.8;
   display: block;
   margin: 15px auto;
}

.button {
    width: 55px;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 5px 7px 14px 7px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    color: #444444;
    background-color: rgba(175, 175, 175, 0.76);
    padding: 0px 5px;
    font-size: 17px;
    line-height: 27px;
    cursor: pointer;
}

#guesses {
    position: relative;
    
}

#guesses p {
    text-align: center;
    display: inline-block;
    font-size: 23px;
    padding: 12px; 
}

/* Validation animation */
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

/* Reply animation */
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }    
    50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }  
    50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

/* Font */
@font-face {
    font-family: 'NationalRegular';
    src: url('font/national-regular.eot');
    src: url('font/national-regular.eot') format('embedded-opentype'),
         url('font/national-regular.woff') format('woff'),
         url('font/national-regular.ttf') format('truetype'),
         url('font/national-regular.svg#NationalRegular') format('svg');
}




